{
	"token" : "{{ yametrica_token }}",
	"counter_id": "53182297",
	"disable_ssl_verification_for_clickhouse": 0,
	"visits_fields": [
            "ym:s:visitID",
	    "ym:s:counterID",
	    "ym:s:dateTime",
	    "ym:s:date",
	    "ym:s:clientID",
            "ym:s:bounce",
            "ym:s:browser",
            "ym:s:browserCountry",
            "ym:s:browserLanguage",
            "ym:s:clientTimeZone",
            "ym:s:cookieEnabled",
            "ym:s:deviceCategory",
            "ym:s:endURL",
            "ym:s:goalsDateTime",
            "ym:s:goalsID",
            "ym:s:goalsSerialNumber",
            "ym:s:ipAddress",
            "ym:s:isNewUser",
            "ym:s:javascriptEnabled",
            "ym:s:lastReferalSource",
            "ym:s:lastTrafficSource",
            "ym:s:mobilePhone",
            "ym:s:mobilePhoneModel",
            "ym:s:operatingSystem",
            "ym:s:pageViews",
            "ym:s:physicalScreenHeight",
            "ym:s:physicalScreenWidth",
            "ym:s:referer",
            "ym:s:regionCity",
            "ym:s:regionCountry",
            "ym:s:startURL",
            "ym:s:UTMCampaign",
            "ym:s:UTMContent",
            "ym:s:UTMMedium",
            "ym:s:UTMSource",
            "ym:s:UTMTerm",
            "ym:s:visitDuration"
	],
	"hits_fields": [
            "ym:pv:watchID",
            "ym:pv:counterID",
            "ym:pv:date",
            "ym:pv:dateTime",
            "ym:pv:title",
            "ym:pv:URL",
            "ym:pv:referer",
            "ym:pv:UTMCampaign",
            "ym:pv:UTMContent",
            "ym:pv:UTMMedium",
            "ym:pv:UTMSource",
            "ym:pv:UTMTerm",
            "ym:pv:browser",
            "ym:pv:browserMajorVersion",
            "ym:pv:browserMinorVersion",
            "ym:pv:browserCountry",
            "ym:pv:browserEngine",
            "ym:pv:browserEngineVersion1",
            "ym:pv:browserEngineVersion2",
            "ym:pv:browserEngineVersion3",
            "ym:pv:browserEngineVersion4",
            "ym:pv:browserLanguage",
            "ym:pv:clientTimeZone",
            "ym:pv:cookieEnabled",
            "ym:pv:deviceCategory",
            "ym:pv:from",
            "ym:pv:hasGCLID",
            "ym:pv:GCLID",
            "ym:pv:ipAddress",
            "ym:pv:javascriptEnabled",
            "ym:pv:mobilePhone",
            "ym:pv:mobilePhoneModel",
            "ym:pv:openstatAd",
            "ym:pv:openstatCampaign",
            "ym:pv:openstatService",
            "ym:pv:openstatSource",
            "ym:pv:operatingSystem",
            "ym:pv:operatingSystemRoot",
            "ym:pv:physicalScreenHeight",
            "ym:pv:physicalScreenWidth",
            "ym:pv:regionCity",
            "ym:pv:regionCountry",
            "ym:pv:regionCityID",
            "ym:pv:regionCountryID",
            "ym:pv:screenColors",
            "ym:pv:screenFormat",
            "ym:pv:screenHeight",
            "ym:pv:screenOrientation",
            "ym:pv:screenWidth",
            "ym:pv:windowClientHeight",
            "ym:pv:windowClientWidth",
            "ym:pv:params",
            "ym:pv:lastTrafficSource",
            "ym:pv:lastSearchEngine",
            "ym:pv:lastSearchEngineRoot",
            "ym:pv:lastAdvEngine",
            "ym:pv:artificial",
            "ym:pv:pageCharset",
            "ym:pv:isPageView",
            "ym:pv:link",
            "ym:pv:download",
            "ym:pv:notBounce",
            "ym:pv:lastSocialNetwork",
            "ym:pv:httpError",
            "ym:pv:clientID",
            "ym:pv:networkType",
            "ym:pv:lastSocialNetworkProfile",
            "ym:pv:goalsID",
            "ym:pv:shareService",
            "ym:pv:shareURL",
            "ym:pv:shareTitle",
            "ym:pv:iFrame"
	],
	"log_level": "INFO",
	"retries": 1,
	"retries_delay": 60,
	"clickhouse": {
		"host": "http://{{ yametrica_ch_host }}:8123",
		"user": "{{ yametrica_ch_user }}",
		"password": "{{ yametrica_ch_password }}",
		"visits_table": "visits_all",
		"hits_table": "hits",
		"database": "{{ yametrica_ch_db }}"
	}
}
